In [2]:
import numpy as numpy
import pandas as pd

## Getting the Data created in the First Part of the Assignment

In [3]:
data = pd.read_csv("Toronto Neighborhood.csv")

In [35]:
data.head()

,Unnamed: 0,Postal code,Borough,Neighborhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

In [39]:
data.drop("Unnamed: 0" ,axis = 1, inplace = True)

In [40]:
data.shape

(103, 3)

In [41]:
columns = ["Postal Code","Borough","Neighborhood"]
data.columns = columns

In [42]:
data.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [43]:
ll = pd.read_csv("Geospatial_Coordinates.csv")

In [44]:
ll.sample(20)

   Postal Code   Latitude  Longitude
81         M6N  43.673185 -79.487262
75         M6G  43.669542 -79.422564
99         M9P  43.696319 -79.532242
21         M2M  43.789053 -79.408493
57         M5G  43.657952 -79.387383
30         M3K  43.737473 -79.464763
41         M4K  43.679557 -79.352188
77         M6J  43.647927 -79.419750
50         M4W  43.679563 -79.377529
59         M5J  43.640816 -79.381752
22         M2N  43.770120 -79.408493
72         M6B  43.709577 -79.445073
85         M7A  43.662301 -79.389494
34         M4A  43.725882 -79.315572
95         M9C  43.643515 -79.577201
29         M3J  43.767980 -79.487262
82         M6P  43.661608 -79.464763
0          M1B  43.806686 -79.194353
52         M4Y  43.665860 -79.383160
36         M4C  43.695344 -79.318389

In [49]:
type(data["Postal Code"][1])
type(ll["Postal Code"][1])

str

In [54]:
data.merge(ll, left_on="Postal Code", right_on="Postal Code")

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road , Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,Business reply mail Processing CentrE,43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999