In [2]:
import os
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import time
import numpy as np
import pandas as pd

In [ ]:
# place_df = pd.read_csv("mumbai_property_price.csv")

In [80]:
###
p = run2

In [ ]:
Name = place_df["Locality Name"].to_list()
print(len(Name))

Name[:10]

In [81]:
# Open tab in full screen (maximized)
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument("start-maximized")

In [82]:
# Instantiate Selenium Webdriver
driver = webdriver.Chrome(options = chrome_options , executable_path = r"\chromedriver.exe")

In [83]:
driver.get("http://www.google.com")

In [84]:
###
place_name = p
cordinates_place = {"name":[],"lat":[],"long":[]}

In [85]:
def cordinate_s(cord,name):
    na = "Not Available"
    cord_list = [ ]
    for i in cord:
        l = i.split( u"\N{DEGREE SIGN}")[0]
        cord_list.append(l)
    if len(cord_list)== 0:
        lat = na
        long = na
    else:
        try:
            lat = cord_list[0]
        except:
            lat = na
            
        try:
            long = cord_list[1]
        except:
            long = na

    return lat,long

In [86]:
for name in place_name:
    
    cordinates_place["name"].append(name)
    
    # get the search textbox
    search_field = driver.find_element_by_name("q")
    
    time.sleep(2)
    
    # enter search keyword and submit
    search_field.send_keys(name +" mumbai latitude and longitude")
    search_field.submit()
    
      # wait
    time.sleep(2)
    
    # Get page soure
    source = driver.page_source

    soup = BeautifulSoup(source,"html.parser")

    cordinates_web = soup.find("div",attrs = {"class":"Z0LcW"})
    
    if cordinates_web:

        co = cordinates_web.text.split(",")

        latitude,longitude = cordinate_s(co,name)

        cordinates_place["lat"].append(latitude)
        cordinates_place["long"].append(longitude)
        
    else:
        cordinates_place["lat"].append("Not Available")
        cordinates_place["long"].append("Not Available")
    
    driver.execute_script("window.history.go(-1)")
    
    time.sleep(3)

In [87]:
cordinates_place

{'name': ['Ambawadi',
  'Ambedkar Nagar',
  'Anand Nagar',
  'Belpada',
  'Chikholi',
  'Gandhi Nagar',
  'Ganesh Nagar',
  'Geeta Nagar',
  'Hanuman Nagar',
  'Kailash Nagar',
  'Laxmi Nagar',
  'Manda',
  'Moti Nagar',
  'Nehru Nagar',
  'Palm Beach',
  'Pant Nagar',
  'Radha Nagar',
  'Satya Nagar',
  'Shastri Nagar',
  'Siddharth Nagar',
  'Sunder Nagar',
  'Tilak Nagar',
  'Vaishali Nagar',
  'Vasant Vihar',
  'Vinay Nagar',
  'Adarsh Nagar',
  'Ajit Nagar',
  'Ashok Nagar',
  'Bhadra Nagar',
  'Chakradhar Nagar',
  'Friends Colony',
  'Govind Nagar',
  'Gulmohar Colony',
  'Hira Nagar',
  'Industrial Area',
  'Kailash Colony',
  'Kanakiya',
  'Kanti Nagar',
  'Mahesh Nagar',
  'Mandvi',
  'Patel Nagar',
  'Rajendra Nagar',
  'Ratan Nagar',
  'Sarvodaya Nagar',
  'Sector 19B',
  'Shiv Colony',
  'Subhash Nagar',
  'Suyog Nagar',
  'Thakurwadi',
  'Valmiki Nagar',
  'Vijay Nagar',
  'Virat Nagar',
  'Vrindavan',
  'Yadav Nagar',
  'Yamuna Nagar'],
 'lat': ['19.2411',
  '19.0730',
  '19.2557',
  '19.0395',
  '19.0760',
  '19.0585',
  '19.1327',
  '18.9121',
  '19.1954',
  '19.1973',
  '19.1608',
  '19.0760',
  '19.1674',
  '19.0640',
  'Not Available',
  '19.0845',
  '19.1230',
  '19.2160',
  '19.1394',
  '19.1596',
  '19.1758',
  '19.0683',
  '19.1441',
  '19.2245',
  '19.1144',
  '19.0147',
  '19.1103',
  '19.1782',
  'Not Available',
  '19.0760',
  '19.1486',
  '19.2354',
  '19.1196',
  '19.1610',
  '19.1334',
  '19.0760',
  '19.0188',
  '19.1063',
  '19.1721',
  '18.9522',
  '19.1379',
  '19.2197',
  '19.1267',
  '19.1641',
  'Not Available',
  '19.0760',
  '19.0683',
  '19.3708',
  'Not Available',
  '19.0660',
  '19.1144',
  'Not Available',
  '19.0511',
  '19.1089',
  '19.1488'],
 'long': [' 72.8600',
  ' 72.8789',
  ' 72.8656',
  ' 73.0576',
  ' 72.8777',
  ' 72.8479',
  ' 72.8796',
  ' 72.8064',
  ' 72.8671',
  ' 72.8439',
  ' 72.8323',
  ' 72.8777',
  ' 72.9350',
  ' 72.8826',
  'Not Available',
  ' 72.9105',
  ' 72.8611',
  ' 72.8419',
  ' 72.8294',
  ' 72.8410',
  ' 72.8419',
  ' 72.8973',
  ' 72.8445',
  ' 72.9682',
  ' 72.8497',
  ' 72.8216',
  ' 72.8681',
  ' 72.9571',
  'Not Available',
  ' 72.8777',
  ' 72.9483',
  ' 72.8493',
  ' 72.8323',
  ' 72.9472',
  ' 72.8346',
  ' 72.8777',
  ' 72.8479',
  ' 72.8671',
  ' 72.8435',
  ' 72.8387',
  ' 72.8213',
  ' 72.8589',
  ' 72.8242',
  ' 72.9453',
  'Not Available',
  ' 72.8777',
  ' 72.8973',
  ' 72.8172',
  'Not Available',
  ' 72.8549',
  ' 72.8497',
  'Not Available',
  ' 72.8676',
  ' 72.8936',
  ' 72.8268']}

In [88]:
#run 1 - completed
# run 2 - completed (switch code: #123)
df = pd.DataFrame(cordinates_place)

In [89]:
df

                name            lat           long
0           Ambawadi        19.2411        72.8600
1     Ambedkar Nagar        19.0730        72.8789
2        Anand Nagar        19.2557        72.8656
3            Belpada        19.0395        73.0576
4           Chikholi        19.0760        72.8777
5       Gandhi Nagar        19.0585        72.8479
6       Ganesh Nagar        19.1327        72.8796
7        Geeta Nagar        18.9121        72.8064
8      Hanuman Nagar        19.1954        72.8671
9      Kailash Nagar        19.1973        72.8439
10       Laxmi Nagar        19.1608        72.8323
11             Manda        19.0760        72.8777
12        Moti Nagar        19.1674        72.9350
13       Nehru Nagar        19.0640        72.8826
14        Palm Beach  Not Available  Not Available
15        Pant Nagar        19.0845        72.9105
16       Radha Nagar        19.1230        72.8611
17       Satya Nagar        19.2160        72.8419
18     Shastri Nagar        19.1394        72.8294
19   Siddharth Nagar        19.1596        72.8410
20      Sunder Nagar        19.1758        72.8419
21       Tilak Nagar        19.0683        72.8973
22    Vaishali Nagar        19.1441        72.8445
23      Vasant Vihar        19.2245        72.9682
24       Vinay Nagar        19.1144        72.8497
25      Adarsh Nagar        19.0147        72.8216
26        Ajit Nagar        19.1103        72.8681
27       Ashok Nagar        19.1782        72.9571
28      Bhadra Nagar  Not Available  Not Available
29  Chakradhar Nagar        19.0760        72.8777
30    Friends Colony        19.1486        72.9483
31      Govind Nagar        19.2354        72.8493
32   Gulmohar Colony        19.1196        72.8323
33        Hira Nagar        19.1610        72.9472
34   Industrial Area        19.1334        72.8346
35    Kailash Colony        19.0760        72.8777
36          Kanakiya        19.0188        72.8479
37       Kanti Nagar        19.1063        72.8671
38      Mahesh Nagar        19.1721        72.8435
39            Mandvi        18.9522        72.8387
40       Patel Nagar        19.1379        72.8213
41    Rajendra Nagar        19.2197        72.8589
42       Ratan Nagar        19.1267        72.8242
43   Sarvodaya Nagar        19.1641        72.9453
44        Sector 19B  Not Available  Not Available
45       Shiv Colony        19.0760        72.8777
46     Subhash Nagar        19.0683        72.8973
47       Suyog Nagar        19.3708        72.8172
48        Thakurwadi  Not Available  Not Available
49     Valmiki Nagar        19.0660        72.8549
50       Vijay Nagar        19.1144        72.8497
51       Virat Nagar  Not Available  Not Available
52         Vrindavan        19.0511        72.8676
53       Yadav Nagar        19.1089        72.8936
54      Yamuna Nagar        19.1488        72.8268

In [90]:
for p in df.name:
    # print(df.loc[df["name"] == p,"lat"])
    print( data.loc[data["name"] == p,"latitude"])

9    23.0224
Name: latitude, dtype: object
10    26.4684
Name: latitude, dtype: object
18    27.1023
Name: latitude, dtype: object
37    20.2524
Name: latitude, dtype: object
70    20.3491
Name: latitude, dtype: object
110    23.2156
Name: latitude, dtype: object
111    28.6246
Name: latitude, dtype: object
116    20.3716
Name: latitude, dtype: object
130    25.5876
Name: latitude, dtype: object
159    28.6653
Name: latitude, dtype: object
214    28.6276
Name: latitude, dtype: object
233    25.0982
Name: latitude, dtype: object
252    28.6623
Name: latitude, dtype: object
271    28.6534
Name: latitude, dtype: object
286    26.7056
Name: latitude, dtype: object
290    29.0222
Name: latitude, dtype: object
310    23.3837
Name: latitude, dtype: object
335    20.2804
Name: latitude, dtype: object
478    28.6746
Name: latitude, dtype: object
486    27.2716
Name: latitude, dtype: object
490    31.5299
Name: latitude, dtype: object
505    28.6389
Name: latitude, dtype: object
515    26.9048
Name: latitude, dtype: object
525    28.5603
Name: latitude, dtype: object
536    26.2314
Name: latitude, dtype: object
554    28.7193
Name: latitude, dtype: object
557    30.6496
Name: latitude, dtype: object
567    24.5775
Name: latitude, dtype: object
580    29.1043
Name: latitude, dtype: object
585    21.8963
Name: latitude, dtype: object
609    28.5675
Name: latitude, dtype: object
621    26.4492
Name: latitude, dtype: object
623    23.1844
Name: latitude, dtype: object
632    32.4556
Name: latitude, dtype: object
637    28.7887
Name: latitude, dtype: object
644    28.5535
Name: latitude, dtype: object
648    20.83
Name: latitude, dtype: object
649    28.667
Name: latitude, dtype: object
682    26.8788
Name: latitude, dtype: object
684    22.8333
Name: latitude, dtype: object
724    28.6554
Name: latitude, dtype: object
736    25.6068
Name: latitude, dtype: object
739    28.214
Name: latitude, dtype: object
748    26.883
Name: latitude, dtype: object
759    28.5764
Name: latitude, dtype: object
849    26.8717
Name: latitude, dtype: object
858    28.6404
Name: latitude, dtype: object
862    21.1086
Name: latitude, dtype: object
869    20.0154
Name: latitude, dtype: object
880    27.4266
Name: latitude, dtype: object
888    22.7533
Name: latitude, dtype: object
890    27.431
Name: latitude, dtype: object
892    27.565
Name: latitude, dtype: object
898    28.75
Name: latitude, dtype: object
899    30.129
Name: latitude, dtype: object

In [91]:
df.to_dict()

{'name': {0: 'Ambawadi',
  1: 'Ambedkar Nagar',
  2: 'Anand Nagar',
  3: 'Belpada',
  4: 'Chikholi',
  5: 'Gandhi Nagar',
  6: 'Ganesh Nagar',
  7: 'Geeta Nagar',
  8: 'Hanuman Nagar',
  9: 'Kailash Nagar',
  10: 'Laxmi Nagar',
  11: 'Manda',
  12: 'Moti Nagar',
  13: 'Nehru Nagar',
  14: 'Palm Beach',
  15: 'Pant Nagar',
  16: 'Radha Nagar',
  17: 'Satya Nagar',
  18: 'Shastri Nagar',
  19: 'Siddharth Nagar',
  20: 'Sunder Nagar',
  21: 'Tilak Nagar',
  22: 'Vaishali Nagar',
  23: 'Vasant Vihar',
  24: 'Vinay Nagar',
  25: 'Adarsh Nagar',
  26: 'Ajit Nagar',
  27: 'Ashok Nagar',
  28: 'Bhadra Nagar',
  29: 'Chakradhar Nagar',
  30: 'Friends Colony',
  31: 'Govind Nagar',
  32: 'Gulmohar Colony',
  33: 'Hira Nagar',
  34: 'Industrial Area',
  35: 'Kailash Colony',
  36: 'Kanakiya',
  37: 'Kanti Nagar',
  38: 'Mahesh Nagar',
  39: 'Mandvi',
  40: 'Patel Nagar',
  41: 'Rajendra Nagar',
  42: 'Ratan Nagar',
  43: 'Sarvodaya Nagar',
  44: 'Sector 19B',
  45: 'Shiv Colony',
  46: 'Subhash Nagar',
  47: 'Suyog Nagar',
  48: 'Thakurwadi',
  49: 'Valmiki Nagar',
  50: 'Vijay Nagar',
  51: 'Virat Nagar',
  52: 'Vrindavan',
  53: 'Yadav Nagar',
  54: 'Yamuna Nagar'},
 'lat': {0: '19.2411',
  1: '19.0730',
  2: '19.2557',
  3: '19.0395',
  4: '19.0760',
  5: '19.0585',
  6: '19.1327',
  7: '18.9121',
  8: '19.1954',
  9: '19.1973',
  10: '19.1608',
  11: '19.0760',
  12: '19.1674',
  13: '19.0640',
  14: 'Not Available',
  15: '19.0845',
  16: '19.1230',
  17: '19.2160',
  18: '19.1394',
  19: '19.1596',
  20: '19.1758',
  21: '19.0683',
  22: '19.1441',
  23: '19.2245',
  24: '19.1144',
  25: '19.0147',
  26: '19.1103',
  27: '19.1782',
  28: 'Not Available',
  29: '19.0760',
  30: '19.1486',
  31: '19.2354',
  32: '19.1196',
  33: '19.1610',
  34: '19.1334',
  35: '19.0760',
  36: '19.0188',
  37: '19.1063',
  38: '19.1721',
  39: '18.9522',
  40: '19.1379',
  41: '19.2197',
  42: '19.1267',
  43: '19.1641',
  44: 'Not Available',
  45: '19.0760',
  46: '19.0683',
  47: '19.3708',
  48: 'Not Available',
  49: '19.0660',
  50: '19.1144',
  51: 'Not Available',
  52: '19.0511',
  53: '19.1089',
  54: '19.1488'},
 'long': {0: ' 72.8600',
  1: ' 72.8789',
  2: ' 72.8656',
  3: ' 73.0576',
  4: ' 72.8777',
  5: ' 72.8479',
  6: ' 72.8796',
  7: ' 72.8064',
  8: ' 72.8671',
  9: ' 72.8439',
  10: ' 72.8323',
  11: ' 72.8777',
  12: ' 72.9350',
  13: ' 72.8826',
  14: 'Not Available',
  15: ' 72.9105',
  16: ' 72.8611',
  17: ' 72.8419',
  18: ' 72.8294',
  19: ' 72.8410',
  20: ' 72.8419',
  21: ' 72.8973',
  22: ' 72.8445',
  23: ' 72.9682',
  24: ' 72.8497',
  25: ' 72.8216',
  26: ' 72.8681',
  27: ' 72.9571',
  28: 'Not Available',
  29: ' 72.8777',
  30: ' 72.9483',
  31: ' 72.8493',
  32: ' 72.8323',
  33: ' 72.9472',
  34: ' 72.8346',
  35: ' 72.8777',
  36: ' 72.8479',
  37: ' 72.8671',
  38: ' 72.8435',
  39: ' 72.8387',
  40: ' 72.8213',
  41: ' 72.8589',
  42: ' 72.8242',
  43: ' 72.9453',
  44: 'Not Available',
  45: ' 72.8777',
  46: ' 72.8973',
  47: ' 72.8172',
  48: 'Not Available',
  49: ' 72.8549',
  50: ' 72.8497',
  51: 'Not Available',
  52: ' 72.8676',
  53: ' 72.8936',
  54: ' 72.8268'}}

In [92]:
for p,ind in zip(df.name,df.index):
    # data.loc[data["name"] == p,"latitude"] = df.loc[df["name"] == p,"lat"]
    # data.loc[data["name"] == p,"longitude"] = df.loc[df["name"] == p,"long"]

    data.loc[data["name"] == p,"latitude"] = df.to_dict()["lat"][ind]
    
    data.loc[data["name"] == p,"longitude"] = df.to_dict()["long"][ind]

In [94]:
data[data["name"] =="Vasant Vihar"]

             name latitude longitude
525  Vasant Vihar  19.2245   72.9682

In [3]:
data = pd.read_csv("Place_Cordinates.csv")

In [5]:
data

     Unnamed: 0               name  latitude  longitude
0             0         4 Bunglows   19.1247    72.8264
1             1  Aarey Milk Colony   19.1510    72.8831
2             2    Abhyudaya Nagar   18.9914    72.8442
3             3           Adaigaon   19.0086    73.1282
4             4          Adharwadi   19.2570    73.1240
..          ...                ...       ...        ...
897         909      Worli Seaface   19.0091    72.8157
898         910        Yadav Nagar   28.7500    77.1406
899         911       Yamuna Nagar   30.1290    77.2674
900         912          Yashodham   19.1694    72.8679
901         913    Yashodhan Nagar   19.2110    72.9542

[902 rows x 4 columns]

In [5]:
data.drop("Unnamed: 0", axis=1, inplace=True)
data.head()

                name  latitude  longitude
0         4 Bunglows   19.1247    72.8264
1  Aarey Milk Colony   19.1510    72.8831
2    Abhyudaya Nagar   18.9914    72.8442
3           Adaigaon   19.0086    73.1282
4          Adharwadi   19.2570    73.1240

In [6]:
data.shape

(902, 4)

In [7]:
data.describe()

       Unnamed: 0    latitude   longitude
count  902.000000  902.000000  902.000000
mean   457.078714   19.506517   73.347065
std    263.226892    2.012767    1.619367
min      0.000000   12.273200   69.355500
25%    230.250000   19.036025   72.858550
50%    455.500000   19.132250   72.987200
75%    684.750000   19.216250   73.090225
max    913.000000   32.455600   87.299700

In [8]:
def freq_table(dataset,col):
    frequency = { }
    duplicates = { }
    for name in dataset[col]:
        if name in frequency:
            frequency[name] += 1
        else:
            frequency[name] = 1
    for key in frequency:
        if frequency[key] > 1:
            duplicates[key] = frequency[key]

    return frequency,duplicates

In [9]:
frequency,duplicate = freq_table(data,"name")

In [10]:
duplicate

{}

In [11]:
data.loc[data["name"] == 'Maharashtra Nagar',:]

     Unnamed: 0               name  latitude  longitude
681         690  Maharashtra Nagar     19.05    72.9394

In [12]:
def remove_duplicates(val):
    rows = data.loc[data["name"] == val,:]#.reset_index()
    ind = rows.index[1:]
    data.drop(ind,inplace=True)

for values in duplicate:
    remove_duplicates(values)

In [13]:
data.loc[data["name"] == 'Maharashtra Nagar',:]

     Unnamed: 0               name  latitude  longitude
681         690  Maharashtra Nagar     19.05    72.9394

In [14]:
data.name.unique()[0:9]

array(['4 Bunglows', 'Aarey Milk Colony', 'Abhyudaya Nagar', 'Adaigaon',
       'Adharwadi', 'Agashi', 'Airoli', 'Akurli Nagar', 'Alika Nagar'],
      dtype=object)

In [15]:
data.latitude.value_counts().sort_values( ascending = False)

19.1616    12
19.0452     3
19.1106     3
19.1762     3
19.2012     3
           ..
19.0198     1
19.2629     1
19.1141     1
19.2847     1
19.2184     1
Name: latitude, Length: 797, dtype: int64

In [95]:
data.latitude.unique()

array([19.1247, 19.151, 18.9914, 19.0086, 19.257, 19.4604,
       19.159000000000002, 19.1997, 19.198, '19.2411', '19.0730', 19.1825,
       19.2075, 19.2651, 15.9647, 19.1021, '19.2557', 19.1179, 19.1364,
       19.2298, 19.4392, 19.2265, 19.214000000000002, 19.5042, 19.1292,
       19.1668, 19.2629, 19.1762, 19.2153, 19.0609, 19.0596, 19.0688,
       19.0237, 19.1777, '19.0395', 19.0976, 19.2001, 19.0292, 19.1503,
       19.1624, 19.3043, 19.3008, 18.9405, 19.2813, 19.7969, 19.4423,
       19.2381, 19.2458, 18.9746, 19.192, 18.975, 18.9822, 18.9761,
       19.1568, 19.1098, 12.2732, 19.2658, 19.2874, 19.1075, 19.1985,
       19.21, 19.0522, 19.0673, 19.2468, 19.4845, '19.0760', 19.2215,
       19.1791, 18.9322, 19.1682, 18.9067, 19.0446, 18.9127, 19.0178,
       19.0099, 19.0236, 19.2085, 19.4946, 19.2575, 19.2547, 19.2222,
       19.2366, 19.0447, 19.1926, 18.9921, 19.2317, 19.2242, 19.2288,
       19.1434, 19.1869, 19.1229, 19.2293, 19.2161, 19.2189, 19.4709,
       18.8812, 19.245, 19.1843, 19.1919, 19.076, 19.2635, 18.9589,
       19.2559, '19.0585', '19.1327', 19.0751, 19.2513, 19.1731, 19.2259,
       '18.9121', 19.1254, 19.0786, 19.0908, 19.21833, 19.3031, 18.9572,
       19.2118, 19.4499, 19.1703, 19.2327, 19.1663, 19.1636, 19.0535,
       '19.1954', 19.2814, 19.2028, 19.1704, 19.0197, 19.2591, 19.1154,
       19.227, 19.2477, 19.2018, 19.1111, 18.9821, 19.0977, 19.2023,
       13.1109, 19.1646, 19.118, 19.3165, 18.9925, 19.1439, 19.1421,
       19.3564, 19.1106, 19.0507, 19.140512, '19.1973', 19.0897, 19.0328,
       19.2461, 19.0763, 19.2333, 19.2022, 19.2299, 19.2446, 19.0166,
       19.3014, 19.2558, 19.2005, 19.1998, 19.1294, 19.1327, 19.1102,
       19.1203, 19.2201, 18.9733, 18.4915, 18.9102, 19.2679, 19.2362,
       19.2799, 19.2247, 19.169, 19.2625, 19.2589, 19.2592, 18.8306,
       19.0094, 19.07, 19.205, 19.0473, 19.1487, 19.4171, 19.3167,
       19.2014, 18.7939, 19.2315, 19.240892, 19.0357, 19.8849, 19.1616,
       19.1817, 19.1614, 19.0621, 19.0708, 19.0729, 19.4152, 18.9908,
       '19.1608', 19.174673, 19.186, 19.061486, 19.1982,
       19.192999999999998, 18.9977, 18.9919, 19.0003, 19.164, 19.1301,
       18.9865, 19.215, 19.032, 19.2137, 18.9548, 19.1854, 19.189,
       19.1858, 19.2, 19.1763, 19.0513, 19.2308, 18.9431, 19.1173,
       19.0269, 19.0282, 18.9644, 19.2929, 19.2258, 19.1834, 19.2952,
       19.2856, 19.2012, 19.4279, '19.1674', 19.1643, 19.1726, 19.1582,
       19.1689, 18.969, 19.1761, 19.1553, 19.3561, 19.3511, 19.4183,
       19.4257, 19.4199, 19.1989, 19.1996, 19.1299, 19.1903, 19.3065,
       '19.0640', 19.2354, 19.023, 19.0338, 19.0016, 19.0137, 19.4254,
       19.1557, 19.0654, 18.9905, 19.1955, 19.2678, 19.0665, 19.0674,
       18.538, 'Not Available', 19.1219, 19.1709, '19.0845', 18.9894,
       19.0008, 19.2086, 19.2421, 18.968249, 19.2185, 19.0695, 19.0809,
       19.077, 19.2163, 19.2847, 19.1373, 19.2725, 19.1176, 19.0163,
       19.19, 19.1463, '19.1230', 19.1191, 12.9089, 19.2427, 19.2977,
       19.1628, 19.0589, 18.8931, 19.2445, 19.0422, 19.0383, 19.1532,
       16.9178, 19.1309, 18.9955, 19.2179, 18.5404, 19.0962, 19.2056,
       19.2071, 19.2114, 19.1784, 19.0601, 19.0744, 19.0841, '19.2160',
       19.0171, 19.2116, 19.0637, 19.0189, 19.034000000000002, 19.0165,
       19.0203, 19.0387, 19.0439, 19.0613, 19.0172, 19.0452, 19.0833,
       19.0092, 19.0401, 19.0155, 18.9629, 19.0723, 19.0138, 19.0471,
       19.012999999999998, 19.0501, 19.0322, 18.9722, 19.028, 19.2136,
       19.0302, 18.9831, 19.1627, 19.015, 19.0169, 19.0497,
       18.977999999999998, 19.1302, 19.0145, 19.0499, 19.0295,
       18.980999999999998, 19.0272, 18.9768, 19.0233, 19.09,
       19.090999999999998, 19.0876, 19.0206, 19.0726, 19.071, 19.0253,
       19.072, 19.0164, 19.0186, 18.9804, 19.0226, 19.0346, 19.1483,
       19.1454, 19.0388, 18.9707, 19.1428, 19.0756, 19.0184, 19.0971,
       19.0451, 19.0615, 19.1239, 19.0616, 19.0419, 19.0593, 19.074,
       18.9596, 19.0154, 19.0558, 18.9674, 19.1587, 19.0701, 19.108,
       19.0341, 19.0377, 19.0687, 19.1656, 19.0502, 19.0557, 19.0119,
       19.0102, 19.1978, 19.0193, 19.0284, 19.1433, 18.9846, 19.0691,
       19.0696, 19.0721, 19.0669, 19.0706, 19.0782, 19.0173, 19.0126,
       19.0213, 19.0354, 19.1042, 19.0139, 19.0068, 19.1465, 19.1215,
       19.0405, 19.0241, 19.0223, 19.2184, 19.1218, 19.0301, 19.0612,
       18.9673, 19.1431, 19.0198, 19.0584, 18.9711, 19.1291, 18.9924,
       19.2498, 19.4521, 12.9578, 19.2806, '19.1394', 19.2826, 19.1256,
       19.1435, 19.2219, 18.6804, 19.0307, 19.1898, '19.1596', 19.0511,
       19.0351, 19.4223, '19.1758', 19.2045, 19.1379, 18.9799, 19.063,
       19.1806, 18.9676, 19.1842829, 19.2095, 19.2108, 19.1835, 19.2467,
       '19.0683', 19.2961, 19.0416, 18.972, 19.1712, 19.227999999999998,
       19.1753, 18.9943, 19.2044, '19.1441', 19.0789, 19.1821, 19.0929,
       19.2083, 19.3919, 19.4056, 19.3826, 19.3665, 19.4039, '19.2245',
       19.0745, 19.406, 19.136326, 19.1351, 18.9857, 19.2561, 13.0655,
       19.1024, 19.0964, 19.1071, '19.1144', 19.4564, 19.4594, 19.4559,
       19.2207, 19.1849, 19.0149, 19.0089, 19.266, 18.9508, 19.2552,
       18.9986, 19.4617, 19.138458, 19.2352, 19.2485, '19.0147', 18.9777,
       19.163, '19.1103', 19.008, 19.07609, 19.1681, 19.2686, 19.1136,
       19.0283, 18.9204, 19.1645, '19.1782', 19.1988, 19.2115, 19.0035,
       19.1225, 17.4824, 19.1655, 19.1499, 19.1512, 19.3654, 19.2861,
       19.4699, 19.0607, 19.003, 19.0888, 19.0681, 19.0517, 18.7788,
       18.877235, 19.1738, 19.1372, 19.1687, 19.2182, 19.1469, 19.1958,
       19.138, 19.4061, '19.1486', 18.9932, 16.7097, 18.9851, 19.0855,
       19.0771, 19.1206, 19.4094, 19.2295, '19.2354', 18.9623, '19.1196',
       19.1213, 19.1139, 18.9778, 19.0774, 19.1719, 19.1748, 19.0216,
       '19.1610', 19.2097, 19.3009, 19.302, 19.3041, '19.1334', 19.2092,
       19.191, 19.1441, 12.9642, 19.1141, 19.0618, 18.9649, '19.0188',
       '19.1063', 18.920902, 19.2705, 19.2225, 19.0234, 19.1962, 19.1952,
       19.0587, 19.1214, 19.1888, 19.1462, 19.204139, 19.1117, 19.0182,
       19.2385, 19.247, 19.229, 19.2357, 19.1905, 19.1796, 19.141213,
       19.1121, 19.2209, 19.1436, 19.2079, 19.2264, 19.0895, 19.2641,
       19.0281, 19.05, '19.1721', 19.1861, '18.9522', 19.3748, 15.9414,
       18.954269, 19.182755, 19.1676, 19.1515, 19.2742, 19.1318,
       19.160999999999998, 19.2823, 19.1575, 19.0469, 19.0541, 19.1538,
       19.1612, 19.0856, 19.2197, 18.957534, 18.9256, 19.4843, 19.1936,
       19.3821, 19.3058, 19.1258, 18.898, 19.2869, 19.1742, 18.6264,
       19.2588, 18.9535, 18.9692, '19.1379', 19.1798, 19.0649, 19.0586,
       17.5186, 19.0428, 19.0738, 19.2038, 19.2271, 19.1797, 18.6639,
       '19.2197', 19.226662, 19.2694, '19.1267', 19.0516, 19.0986,
       19.2106, 19.212, 19.1119, 19.1222, 19.1084, 19.1641, '19.1641',
       19.1175, 19.1127, 19.0899, 19.0106, 19.016, 19.0349, 19.1251,
       19.0794, 19.037, 19.1344, 19.2178, 19.0285, 19.0666, 19.0212,
       19.0153, 19.2174, 19.2164, 19.0052, 19.1644, 19.0081, 18.9984,
       19.0329, 19.0376, 19.0028, 19.0825, 19.0796, 19.1195, 19.0031,
       18.9994, 18.9981, 19.0961, 19.0372, 19.1506, 19.0394, 18.9871,
       18.9916, 19.15, 18.9882, 19.058, 19.039, 19.0067, 19.0577,
       19.102999999999998, 19.0335, 19.0151, 18.997, 19.1618, 19.0731,
       19.1014, 19.0737, 19.0204, 19.1113, 19.1151, 19.1064, 19.0019,
       19.1395, 19.0668, 19.016804, 19.0192, 19.0032, 19.064, 19.0134,
       19.1489, 19.005, 19.0096, 19.1033, 19.0421, 19.0091, 19.1228,
       19.0103, 19.1008, 19.0217, 19.1015, 19.1159, 19.0074, 19.0027,
       19.2746, 19.0152, 19.1716, 19.2057, 19.2344, 18.9342, 18.9902,
       19.217, 18.5314, 19.0316, 19.0395, 19.1815, 19.0007, 19.1375,
       19.1343, '19.3708', 19.0553, 19.0866, 19.1088, 19.1595, 19.2662,
       13.6288, 19.2237, 19.1172, 19.3603, 19.0484, 19.1812, 18.976,
       19.1944, 18.9838, '19.0660', 19.1802, 19.1822, 19.0792, 19.0798,
       19.1142, 19.1686, '19.0511', 19.1868, 19.063966, '19.1089',
       '19.1488', 19.1694, 19.211], dtype=object)

In [17]:
# data.latitude.apply(lambda x: (x if len(x) > 7 else None )is not None)

In [96]:
for l in data.latitude:
    if (len(l)>7) & (l != "Not Available"):
        print(data[data["latitude"] == l])

TypeError: object of type 'float' has no len()

In [19]:
data[data["latitude"]=='Raigad district']

Empty DataFrame
Columns: [Unnamed: 0, name, latitude, longitude]
Index: []

In [20]:
#  G B Road - 19.2635,72.9741
#  Sector 19 Kharghar - 19.0501,73.0782
#  Sector-27 Kharghar  - 19.1978302,72.9600906
#        Sector-6 Airoli              - 19.1465,72.9988
# Eden Wood - 19.1380,72.8278

In [21]:
cord_corr = {"G B Road":["19.2635","72.9741"],"Sector 19 Kharghar":["19.0501","73.0782"],"Sector-27 Kharghar":["19.1978","72.9600"],"Sector-6 Airoli":["19.1465","72.9988"],"Eden Wood":["19.1380","72.8278"]}

In [22]:
for p in cord_corr:
    data.loc[data["name"] == p,"latitude"] = cord_corr[p][0]
    data.loc[data["name"] == p,"longitude"] = cord_corr[p][1]

In [23]:
for l in data.latitude:
    if (len(l)>7) & (l != "Not Available"):
        print(data[data["latitude"] == l])

TypeError: object of type 'float' has no len()

In [24]:
for l in data.longitude:
    if (len(l)>7) & (l != "Not Available"):
        print(data[data["longitude"] == l])

TypeError: object of type 'float' has no len()

In [25]:
data.longitude.unique()

array([72.8264, 72.8831, 72.8442, 73.1282, 73.124, 72.7747, 72.9986,
       72.8589, 72.8707, 72.543, 82.6915, 73.1926, 73.1853, 73.1724,
       74.0036, 72.9128, 83.2759, 72.8631, 72.8296, 73.0349, 73.2998,
       72.8571, 72.8656, 73.3252, 72.836, 72.8464, 73.2368, 73.1388,
       73.2401, 72.9918, 72.8465, 72.8295, 72.8703, 73.0404, 73.2268,
       83.2278, 73.0003, 72.8405, 72.8796, 72.9491, 72.9376, 72.859,
       72.8467, 73.4563, 73.0483, 72.7452, 72.7954, 72.8609, 72.8523,
       72.98, 72.8065, 72.9889, 72.8383, 72.8312, 72.8538, 72.8583,
       76.6707, 73.1305, 72.8737, 72.9018, 72.9748, 72.8183, 72.9005,
       73.1423, 72.7866, 76.2653, 72.839, 72.8414, 72.8147, 72.8914,
       72.8213, 72.8478, 72.8427, 72.8378, 72.8375, 72.8604, 72.865,
       72.8539, 72.8584, 72.8611, 72.9103, 73.0863, 73.1342, 73.0827,
       72.8671, 72.983, 72.9374, 72.8617, 73.0478, 72.8301, 72.9807,
       73.09899999999999, 73.0807, 72.8087, 72.9645, 72.8368, 72.8371,
       72.832, 72.8777, '72.9741', 72.8124, 73.1331, 72.6369, 77.2829,
       72.9091, 73.1533, 72.9601, 72.9054, 72.9992, 72.9101, 72.9077,
       72.978088, 72.8612, 72.8197, 73.0964, 72.7998, 72.8699, 72.7867,
       72.8526, 72.8459, 72.9239, 85.1628, 72.8789, 73.2485, 72.8479,
       72.9844, 72.9719, 72.8501, 72.8389, 73.2305, 72.908, 80.2274,
       72.85300000000001, 72.9977, 72.8552, 72.8428, 73.2463, 72.8263,
       72.8326, 73.0154, 72.842155, 77.2585, 72.8864, 73.1012, 73.0179,
       72.8654, 73.0802, 73.0025, 73.1338, 73.1235, 73.0966, 72.8774,
       72.8426, 72.933, 72.9254, 72.9379, 73.1099, 73.8217, 73.3283,
       72.9712, 73.0149, 72.8855, 73.1445, 73.2296, 72.9741, 72.8767,
       73.1279, 73.2846, 73.1114, 72.8338, 72.9995, 73.0699, 73.2776,
       73.0597, 72.9724, 73.3346, 72.9962, 72.992497, 73.0741, 74.4728,
       72.9964, 73.2385, 72.8834, 72.8781, 73.0752, 72.8131, 77.2784,
       72.943108, 72.8413, 72.835943, 72.9616, 72.8376, 72.8305, 72.8238,
       72.7895, 72.8732, 72.8401, 72.9903, 72.7985, 72.8585, 72.8355,
       72.8191, 82.2624, 72.9905, 73.2397, 72.9368, 72.8272, 72.884,
       72.8553, 72.8438, 72.8421, 72.8641, 72.8324, 72.8544, 72.8691,
       73.2006, 77.1411, 72.8359, 72.9425, 72.9597, 72.935, 72.8205,
       73.0229, 72.9438, 72.8722, 72.7956, 72.8374, 72.8117, 73.0922,
       73.0848, 72.8644, 77.4444, 73.3175, 73.0196, 73.1202, 73.0232,
       72.8157, 73.078, 72.8449, 73.1042, 72.9549, 73.0693, 72.8262,
       73.222, 80.0364, 72.9652, 72.9099, 72.8508, 79.4908, 73.1175,
       72.84899999999999, 73.0125, 72.807385, 73.0944, 72.9025, 73.0917,
       72.9726, 72.8719, 72.8678, 72.906, 72.8291, 73.0081, 87.2997,
       72.8951, 77.63, 73.1372, 72.8685, 73.2481, 73.0796, 73.1701,
       72.868, 73.0981, 72.9345, 74.0689, 72.827, 73.101, 72.8471,
       73.9286, 72.8877, 72.9635, 73.0918, 73.014, 72.8605,
       72.83800000000001, 85.8499, 73.0175, 72.8258, 73.0047, 73.094,
       73.0413, 73.0916, 73.0715, 73.0656, 73.0018, 73.0911, 73.0734,
       73.0029, 73.0331, 73.0782, 73.0909, 73.0221, 73.0007, 73.09, 73.08,
       73.0925, '73.0782', 73.025, 73.0295, 73.0265, 72.8196, 73.0649,
       73.0269, 72.9892, 73.0962, 73.0737, 72.9994, 73.0973, 73.0686,
       73.0207, 73.0309, 73.1014, 73.01899999999999, 73.0324, 73.0132,
       73.0088, 73.0059, 73.0855, 73.0763, 73.0729, 73.0811, 73.0103,
       73.0619, 73.0177, 73.0002, 73.0948, 73.0664, 72.9948, 72.9911,
       73.012, 72.9859, 73.0889, 73.0117, 73.0708, 73.00399999999999,
       73.0946, 73.0055, 73.0826, 73.0992, 73.021, 73.0874, 73.0236,
       72.994, 73.0955, 73.0147, 73.0903, 72.991, 73.0156, 73.0988,
       73.1003, 73.1007, '72.9600', 73.0153, 72.9976, 73.0793, 73.0812,
       73.083, 73.0791, 73.0713, 73.0704, 73.0789, 73.0121, 73.0158,
       73.0114, 73.097, 73.059, 73.0077, 73.0213, '72.9988', 73.0036,
       72.8146, 72.9982, 73.0092, 72.997, 72.8235, 72.8198, 72.8547,
       73.1593, 73.328, 77.5993, 72.8667, 77.1802, 72.8652, 72.8619,
       73.0465, 72.843, 73.6883, 72.8408, 82.821, 72.8907, 72.8663,
       76.8889, 72.9328, 73.1187, 73.1209, 72.9563, 72.8141,
       72.95811690000001, 72.8747, 72.9781, 72.976, 77.0867, 73.2035,
       72.8966, 73.1645, 73.0348, 72.8726, 73.0835, 72.8537, 72.9763,
       75.7489, 72.85, 73.2391, 73.2972, 72.961, 72.8397, 72.8557,
       72.8321, 72.8155, 72.8294, 77.1617, 72.9978, 73.2665, 72.82766,
       73.1347, 80.2103, 72.92, 72.8564, 78.1593, 72.7925, 72.8189,
       72.7763, 73.087, 72.8574, 72.9845, 72.8021, 73.1344, 72.8174,
       72.8028, 72.809321, 72.8418, 73.1534, 77.1736, 72.8273, 76.7567,
       72.877426, 72.9309, 73.1682, 72.8697, 72.8698, 73.2328, 72.8154,
       77.7318, 72.8567, 73.104, 72.9158, 78.4077, 72.8323, 72.9354,
       72.8122, 75.1655, 72.9666, 72.9505, 72.8257, 83.4043, 72.907,
       72.8992, 72.8475, 73.1512, 72.8982, 72.8239, 72.8692, 72.8466,
       73.4788, 72.928337, 72.8394, 73.1115, 72.96300000000001, 72.9582,
       72.9704, '72.8278', 77.2691, 72.8229, 74.6854, 73.1128, 72.8402,
       72.8674, 72.8587, 72.824, 80.3094, 72.8101, 77.4379, 72.8549,
       72.8105, 72.8803, 72.9593, 72.9723, 73.1497, 75.2728, 72.8655,
       77.0593, 72.96600000000001, 72.9788, 72.932, 77.6581, 77.2426,
       72.8261, 73.19800000000001, 70.8982, 77.2772, 73.323097, 72.8884,
       72.846, 72.8054, 73.1575, 72.8444, 73.2404, 72.9483, 72.9272,
       72.975104, 72.8512, 72.8168, 72.9926, 73.1083, 72.8648, 72.8639,
       72.9473, 72.830906, 72.8984, 72.8246, 72.9534, 72.9693, 73.0198,
       72.9394, 75.7842, 69.3555, 77.4257, 72.811501, 72.84015699999999,
       72.9675, 72.8287, 72.8504, 72.9069, 72.9486, 72.915, 72.799986,
       72.8242, 73.2019, 72.8593, 72.8618, 72.9659, 73.7066, 73.1291,
       73.1276, 77.1646, 73.1261, 72.8848, 72.8936, 78.3963, 72.9852,
       72.8335, 73.8169, 85.1652, 72.98383299999999, 74.953, 72.8346,
       72.885, 73.1018, 72.8534, 72.8908, 72.9026, 72.9453, 80.969,
       73.0033, 73.0032, 73.0398, 73.02, 72.9938, 77.0433, 72.9955,
       73.0189, 73.0586, 73.0136, 73.0173, 72.8349, 72.9966, 72.9974,
       73.1088, 73.1206, 73.0977, 73.1248, 72.9981, 72.9923, 73.1136,
       73.0162, 73.1257, 73.0072, 73.02600000000001, 72.9885, 73.1268,
       73.125, 73.1062, 73.0338, 73.1213, 72.9969, 73.1029, 73.0368,
       73.0062, 73.0044, 73.1198, 73.096458, 73.0129, 73.1184, 72.992,
       73.0131, 73.0166, 73.118, 73.0106, 73.0101, 73.1165, 72.9997,
       73.0058, 73.0933, 72.9985, 73.1236, 72.8645, 73.0364, 73.2389,
       72.8357, 73.1379, 75.7931, 72.8128, 72.9571, 73.8446, 73.0996,
       72.8597, 72.8419, 73.2581, 77.105, 72.8283, 79.0825, 72.8892,
       72.8626, 72.9761, 72.9291, 72.7289, 73.0716, 79.4192, 73.1339,
       72.8299, 72.9003, 73.07300000000001, 73.1394, 72.8314, 73.1036,
       83.9074, 72.9424, 72.9448, 72.8973, 75.8937, 72.9358, 76.19,
       77.6593, 72.9545, 72.835624, 72.8179, 77.1406, 77.2674, 72.8679,
       72.9542], dtype=object)

In [26]:
data.loc[data["latitude"] == "Not Available","name"]

Series([], Name: name, dtype: object)

In [27]:
# places_cord = {"Badlapur (East)":["19.166784","73.236794"],"Film City Road":["19.1611","72.8874"],"Ghodbunder Road":["19.218330","72.978088"],"Hiranandani Meadows":["19.2555","72.98096"],"JVLR":["19.140512","72.842155"],"Kolshet Road":["19.240892","72.992497"],"LBS Marg":["19.174673","72.943108"],"Linking Road":["19.061486","72.835943"],"Navghar Gaon":["18.9192249","73.3277223"],"Peddar Road":["18.968249","72.807385"],"Pokhran-2":["19.218330","72.978088"],"Sector 20 Kamothe":["19.0169","73.0962"],"Sector 23 Ulwe":["18.9768","73.0324"],"Sector 35I Kharghar":["19.0710","73.0729"],"Sector 36 Seawoods":["19.016426","73.010269"],"Sector 42 Seawoods":["19.0186","73.0177"],"Sector-13 Kharghar":["19.0451","19.0451"]}

In [28]:
places_cord = {"Ghodbunder Road":["19.218330","72.978088"],"JVLR":["19.140512","72.842155"],"Kolshet Road":["19.240892","72.992497"],"LBS Marg":["19.174673","72.943108"],"Linking Road":["19.061486","72.835943"],"Peddar Road":["18.968249","72.807385"],"Pokhran-2":["19.218330","72.978088"],"Teen Haath Naka":["19.1842829","72.9581169"],"Veera Desai Road":["19.136326","72.827660"],"Yari Road":["19.138458","72.809321"],"Altamount Road":["19.076090","72.877426"],"Dahiwali Tarf Waredi":["18.877235","72.928337"],"Hill Road":["19.136326","72.827660"],"Karade Khurd":["18.920902","73.323097"],"Kolbad Road":["19.204139","72.975104"],"Link Road":["19.141213","72.830906"],"Marine Drive Chowpatty":["18.954269","72.811501"],"Marve Road":["19.182755","72.840157"],"Napean Sea Road":["18.957534","72.799986"],"Ram Maruti Road":["19.226662","72.983833"],"Sector-31 Kamothe":["19.016804","73.096458"],"Waterfield Road":["19.063966","72.835624"]}

In [29]:
for p in places_cord:
    data.loc[data["name"] == p,"latitude"] = places_cord[p][0]
    data.loc[data["name"] == p,"longitude"] = places_cord[p][1]

In [30]:
data.loc[data["latitude"] == "Not Available","name"]

Series([], Name: name, dtype: object)

In [31]:
data[data["longitude"] == "Not Available"]

Empty DataFrame
Columns: [Unnamed: 0, name, latitude, longitude]
Index: []

In [102]:
#run3
for l in data.latitude:
    if l == "Not Available":
        print(data[data["latitude"] == l])

name       latitude      longitude
286    Palm Beach  Not Available  Not Available
580  Bhadra Nagar  Not Available  Not Available
759    Sector 19B  Not Available  Not Available
869    Thakurwadi  Not Available  Not Available
890   Virat Nagar  Not Available  Not Available
             name       latitude      longitude
286    Palm Beach  Not Available  Not Available
580  Bhadra Nagar  Not Available  Not Available
759    Sector 19B  Not Available  Not Available
869    Thakurwadi  Not Available  Not Available
890   Virat Nagar  Not Available  Not Available
             name       latitude      longitude
286    Palm Beach  Not Available  Not Available
580  Bhadra Nagar  Not Available  Not Available
759    Sector 19B  Not Available  Not Available
869    Thakurwadi  Not Available  Not Available
890   Virat Nagar  Not Available  Not Available
             name       latitude      longitude
286    Palm Beach  Not Available  Not Available
580  Bhadra Nagar  Not Available  Not Available
759    Sector 19B  Not Available  Not Available
869    Thakurwadi  Not Available  Not Available
890   Virat Nagar  Not Available  Not Available
             name       latitude      longitude
286    Palm Beach  Not Available  Not Available
580  Bhadra Nagar  Not Available  Not Available
759    Sector 19B  Not Available  Not Available
869    Thakurwadi  Not Available  Not Available
890   Virat Nagar  Not Available  Not Available

In [104]:
run3_dict = {"Palm Beach":[19.087347,73.008589],"Bhadra Nagar":[19.009161,72.837608],"Sector 19B":[19.082593,73.011264],"Thakurwadi":[20.0032536,72.7286554],"Virat Nagar":[19.076090,72.877426]}

In [105]:
for p in run3_dict:
    data.loc[data["name"] == p,"latitude"] = run3_dict[p][0]
    data.loc[data["name"] == p,"longitude"] = run3_dict[p][1]

In [109]:
for l in data.latitude:
    if l == "Not Available":
        print(data[data["latitude"] == l])

In [110]:
data.shape

(902, 3)

In [39]:
data[data.latitude.map(type) != float]

     Unnamed: 0                    name    latitude   longitude
107         110                G B Road     19.2635     72.9741
120         123         Ghodbunder Road   19.218330   72.978088
157         161                    JVLR   19.140512   72.842155
203         208            Kolshet Road   19.240892   72.992497
215         220                LBS Marg   19.174673   72.943108
217         222            Linking Road   19.061486   72.835943
296         301             Peddar Road   18.968249   72.807385
302         307               Pokhran-2   19.218330   72.978088
359         364      Sector 19 Kharghar     19.0501     73.0782
434         439      Sector-27 Kharghar     19.1978     72.9600
457         462         Sector-6 Airoli     19.1465     72.9988
499         505         Teen Haath Naka  19.1842829  72.9581169
528         536        Veera Desai Road   19.136326   72.827660
551         559               Yari Road   19.138458   72.809321
559         567          Altamount Road   19.076090   72.877426
597         605    Dahiwali Tarf Waredi   18.877235   72.928337
607         615               Eden Wood     19.1380     72.8278
631         640               Hill Road   19.136326   72.827660
650         659            Karade Khurd   18.920902   73.323097
662         671             Kolbad Road   19.204139   72.975104
672         681               Link Road   19.141213   72.830906
687         697  Marine Drive Chowpatty   18.954269   72.811501
689         699              Marve Road   19.182755   72.840157
704         714         Napean Sea Road   18.957534   72.799986
737         747         Ram Maruti Road   19.226662   72.983833
817         827       Sector-31 Kamothe   19.016804   73.096458
894         906         Waterfield Road   19.063966   72.835624

In [40]:
data.loc[data["name"] == "Marine Drive Chowpatty","latitude"]

687    18.954269
Name: latitude, dtype: object

In [44]:
data.loc[data.latitude.map(type) != float,"latitude"] = data.loc[data.latitude.map(type) != float,"latitude"].astype("float")

In [49]:
data[data.latitude.map(type) != float]

Empty DataFrame
Columns: [Unnamed: 0, name, latitude, longitude]
Index: []

In [60]:
type(data.iat[687,1])

float

In [64]:
data[data.longitude.map(type) != float]

                       name latitude   longitude
107                G B Road  19.2635     72.9741
120         Ghodbunder Road  19.2183   72.978088
157                    JVLR  19.1405   72.842155
203            Kolshet Road  19.2409   72.992497
215                LBS Marg  19.1747   72.943108
217            Linking Road  19.0615   72.835943
296             Peddar Road  18.9682   72.807385
302               Pokhran-2  19.2183   72.978088
359      Sector 19 Kharghar  19.0501     73.0782
434      Sector-27 Kharghar  19.1978     72.9600
457         Sector-6 Airoli  19.1465     72.9988
499         Teen Haath Naka  19.1843  72.9581169
528        Veera Desai Road  19.1363   72.827660
551               Yari Road  19.1385   72.809321
559          Altamount Road  19.0761   72.877426
597    Dahiwali Tarf Waredi  18.8772   72.928337
607               Eden Wood   19.138     72.8278
631               Hill Road  19.1363   72.827660
650            Karade Khurd  18.9209   73.323097
662             Kolbad Road  19.2041   72.975104
672               Link Road  19.1412   72.830906
687  Marine Drive Chowpatty  18.9543   72.811501
689              Marve Road  19.1828   72.840157
704         Napean Sea Road  18.9575   72.799986
737         Ram Maruti Road  19.2267   72.983833
817       Sector-31 Kamothe  19.0168   73.096458
894         Waterfield Road   19.064   72.835624

In [67]:
print(data.iat[704,2])
type(data.iat[704,2])

72.799986

str

In [68]:
data.loc[data.longitude.map(type) != float,"longitude"] = data.loc[data.longitude.map(type) != float,"longitude"].astype("float")

In [69]:
print(data.iat[704,2])
type(data.iat[704,2])

72.799986

float

In [70]:
data.head()

                name latitude longitude
0         4 Bunglows  19.1247   72.8264
1  Aarey Milk Colony   19.151   72.8831
2    Abhyudaya Nagar  18.9914   72.8442
3           Adaigaon  19.0086   73.1282
4          Adharwadi   19.257    73.124

In [72]:
data[data["latitude"] > 20].sort_values(by = "latitude")

                 name latitude longitude
869        Thakurwadi  20.0154   72.7289
37            Belpada  20.2524   83.2278
335       Satya Nagar  20.2804   85.8499
70           Chikholi  20.3491   76.2653
116       Geeta Nagar  20.3716   72.9054
648          Kanakiya    20.83   70.8982
862       Suyog Nagar  21.1086   79.0825
585  Chakradhar Nagar  21.8963   83.4043
888       Vijay Nagar  22.7533   75.8937
684            Mandvi  22.8333   69.3555
9            Ambawadi  23.0224    72.543
623   Gulmohar Colony  23.1844   77.4379
110      Gandhi Nagar  23.2156   72.6369
310       Radha Nagar  23.3837   87.2997
567       Ashok Nagar  24.5775   77.7318
233             Manda  25.0982   82.2624
130     Hanuman Nagar  25.5876   85.1628
736    Rajendra Nagar  25.6068   85.1652
536       Vinay Nagar  26.2314   78.1593
621      Govind Nagar  26.4492   80.3094
10     Ambedkar Nagar  26.4684   82.6915
286        Palm Beach  26.7056   80.0364
849       Shiv Colony  26.8717   75.7931
682      Mahesh Nagar  26.8788   75.7842
748   Sarvodaya Nagar   26.883    80.969
515    Vaishali Nagar  26.9048   75.7489
18        Anand Nagar  27.1023   83.2759
486   Siddharth Nagar  27.2716    82.821
880     Valmiki Nagar  27.4266   83.9074
890       Virat Nagar   27.431     76.19
892         Vrindavan   27.565   77.6593
739       Ratan Nagar   28.214    74.953
644    Kailash Colony  28.5535   77.2426
525      Vasant Vihar  28.5603   77.1617
609    Friends Colony  28.5675   77.2691
759        Sector 19B  28.5764   77.0433
111      Ganesh Nagar  28.6246   77.2829
214       Laxmi Nagar  28.6276   77.2784
505       Tilak Nagar  28.6389   77.0867
858     Subhash Nagar  28.6404    77.105
271       Nehru Nagar  28.6534   77.4444
724       Patel Nagar  28.6554   77.1646
252        Moti Nagar  28.6623   77.1411
159     Kailash Nagar  28.6653   77.2585
649       Kanti Nagar   28.667   77.2772
478     Shastri Nagar  28.6746   77.1802
554      Adarsh Nagar  28.7193   77.1736
898       Yadav Nagar    28.75   77.1406
637   Industrial Area  28.7887   77.0593
290        Pant Nagar  29.0222   79.4908
580      Bhadra Nagar  29.1043   75.1655
899      Yamuna Nagar   30.129   77.2674
557        Ajit Nagar  30.6496   76.7567
490      Sunder Nagar  31.5299   76.8889
632        Hira Nagar  32.4556   75.2728

In [77]:
# change search query to place + "mumbai latitude and longitude" and run the web scraping query for the names of places below

In [79]:
run2 = data.loc[data["latitude"] > 20,"name"].to_list()

In [115]:
data["latitude"] = data["latitude"].astype("float")

In [116]:
data["longitude"] = data["longitude"].astype("float")

In [4]:
 data[data["latitude"] > 20]

     Unnamed: 0        name   latitude  longitude
869         869  Thakurwadi  20.003254  72.728655

In [119]:
data.head()

                name  latitude  longitude
0         4 Bunglows   19.1247    72.8264
1  Aarey Milk Colony   19.1510    72.8831
2    Abhyudaya Nagar   18.9914    72.8442
3           Adaigaon   19.0086    73.1282
4          Adharwadi   19.2570    73.1240

In [120]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 902 entries, 0 to 901
Data columns (total 3 columns):
name         902 non-null object
latitude     902 non-null float64
longitude    902 non-null float64
dtypes: float64(2), object(1)
memory usage: 21.3+ KB

In [121]:
# data.to_csv("Place_Cordinates.csv")

In [7]:
data[data["latitude"] < 18].sort_values(by = "latitude")

                     name  latitude  longitude
59   Chamundeshwari Nagar   12.2732    76.6707
312    Rajiv Gandhi Nagar   12.9089    77.6300
476          Shanti Nagar   12.9578    77.5993
641          Jeevan Nagar   12.9642    77.6581
532            Vijay Park   13.0655    80.2103
145         Jawahar Nagar   13.1109    80.2274
871        Tirupati Nagar   13.6288    79.4192
686            Mantralaya   15.9414    77.4257
16                 Amboli   15.9647    74.0036
611            Ganeshwadi   16.7097    74.6854
322                Sagaon   16.9178    74.0689
572          Balaji Nagar   17.4824    78.4077
729         Pragati Nagar   17.5186    78.3963

In [13]:
run_3 = {"Chamundeshwari Nagar":[18.9163,72.8196],"Rajiv Gandhi Nagar":[19.0412,72.8578],"Shanti Nagar":[19.1201,72.8645],"Jeevan Nagar":[19.1315,72.8335],"Vijay Park":[19.2029,72.8389],"Jawahar Nagar":[19.1606,72.8479],"Tirupati Nagar":[19.366636,72.816101],"Mantralaya":[18.9290,72.8301],"Amboli":[19.1258,72.8448],"Ganeshwadi":[19.0944,72.9038],"Sagaon":[19.196073,73.09349],"Balaji Nagar":[19.2470,72.8689],"Pragati Nagar":[19.1608,72.8388],"Karave Nagar":[19.1298,72.9354]}

In [14]:
for p in run_3:
    data.loc[data["name"] == p,"latitude"] = run_3[p][0]
    data.loc[data["name"] == p,"longitude"] = run_3[p][1]

In [15]:
data["latitude"] = data["latitude"].astype("float")
data["longitude"] = data["longitude"].astype("float")

In [16]:
data[data["latitude"] < 18.5].sort_values(by = "latitude")

Empty DataFrame
Columns: [name, latitude, longitude]
Index: []

In [17]:
data["longitude"].describe()

count    902.000000
mean      72.966439
std        0.145118
min       72.728655
25%       72.852300
50%       72.955600
75%       73.039050
max       74.472800
Name: longitude, dtype: float64

In [21]:
data[data["longitude"] > 73.3].sort_values(by = "longitude")

                   name   latitude  longitude
273               Neral  19.023000  73.317500
650        Karade Khurd  18.920902  73.323097
25               Atgaon  19.504200  73.325200
475             Shahpur  19.452100  73.328000
843            Shahapur  19.452100  73.328000
181              Karjat  18.910200  73.328300
201             Khopoli  18.793900  73.334600
45             Bhivpuri  18.940500  73.456300
596            Dahivali  18.778800  73.478800
483            Shirgaon  18.680400  73.688300
715                Nere  18.626400  73.706600
735  Raje Shivaji Nagar  18.663900  73.816900
852       Shivaji Nagar  18.531400  73.844600
326       Sainath Nagar  18.540400  73.928600
205           Kopargaon  19.884900  74.472800

In [27]:
# we'll consider places upto Khopoli rest all are outliers
ind = data[data["longitude"] > 73.334600].index
data.drop(ind, axis=0, inplace= True)

In [28]:
data[data["longitude"] > 73.3].sort_values(by = "longitude")

             name   latitude  longitude
273         Neral  19.023000  73.317500
650  Karade Khurd  18.920902  73.323097
25         Atgaon  19.504200  73.325200
475       Shahpur  19.452100  73.328000
843      Shahapur  19.452100  73.328000
181        Karjat  18.910200  73.328300
201       Khopoli  18.793900  73.334600

In [29]:
# data.to_csv("Place_Cordinates.csv")

In [30]:
run_5 = {"Navy Colony":[19.1859,72.8419],"Geeta Nagar":[19.2905,72.8591],"Breach Candy":[18.9746,72.8065],"Bhadra Nagar":[19.1883,73.0862],"Agripada":[19.0368099,73.0158234],"Jijamata Nagar":[19.1180,72.9977],"Virat Nagar":[19.287139,72.868842]}

In [31]:
for p in run_5:
    data.loc[data["name"] == p,"latitude"] = run_5[p][0]
    data.loc[data["name"] == p,"longitude"] = run_5[p][1]

In [32]:
data["latitude"] = data["latitude"].astype("float")
data["longitude"] = data["longitude"].astype("float")

In [33]:
# data.to_csv("Place_Cordinates.csv")

##### T

In [3]:
df = pd.read_csv("Place_Cordinates.csv")

In [5]:
df.head()

   Unnamed: 0               name  latitude  longitude
0           0         4 Bunglows   19.1247    72.8264
1           1  Aarey Milk Colony   19.1510    72.8831
2           2    Abhyudaya Nagar   18.9914    72.8442
3           3           Adaigaon   19.0086    73.1282
4           4          Adharwadi   19.2570    73.1240

In [6]:
df[df["name"] == "Hanuman Nagar"]

     Unnamed: 0           name  latitude  longitude
129         130  Hanuman Nagar   19.1954    72.8671